*{
    font-family: Fira Sans, sans-serif;
    margin: 0;
}

.title h1{
    text-align: center;
    margin-top: 64px;
    padding-bottom: 24px;
    font-size: 48px;
    
}

.main_header{
    font-weight: 600;
    text-transform: uppercase;
    padding: 24px 14%;
    justify-content: space-between;
    display: flex;
}

.logo img{
    height: 60px;
}

.menu{
    padding-right: 30px;
}

.nav_bar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav_bar ul{
    list-style: none;
    display: flex;
}

.nav_bar ul li {
    font-size: 18px;
    padding: 12px 24px;
}

.search a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    border-radius: 30px;
    background: #19a851;
    padding: 12px 28px;
}


.banner{
    position: relative;
    height: 600px;
}

.banner img{
    height: 600px;
    width: 100%;
}

.banner_content {
    background-color: #000000a1;
    box-sizing: border-box;
    color: white;
    padding: 96px 0 0px 14%;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.banner_content h1 {
    font-weight: 400;
    width: 50%;
    font-size: 73px;
}

.banner_content p {
    padding: 24px 0 48px 0;
    font-size: 20px;
}

.banner_content a {
    display: inline-block;
    border-radius: 30px;
    padding: 12px 32px;
    background-color: #55c593;
    color: white;
}
.Karo_dhanda {
    padding: 11px 0;
    display: bloac;
    background-color: #25266c;
    text-align: center;
}

.Karo_dhanda img {
    height: 100px;
}

.main_services{
    padding: 0 14%;
    display: flex
}

.boxes {
    margin-right: 18px;
    border-radius: 12px;
    padding: 18px;
    border: 1px solid #eee;
}

.boxes img{
    padding-bottom: 18px;
    width: 100%;}

.content h2{
    padding-bottom: 12px;
    font-size: 20px;
}

.content p{
    padding-bottom: 24px;
}

.content a {
    display: inline-block;
    border-radius: 30px;
    padding: 12px 32px;
    background-color: #55c593;
    color: white;
}

.About {
    margin-top: 64px;
    display: flex;
    padding: 24px 14%;
}

.About .title h1{
    text-align: left;
    margin-top: 0;
}

.About .image {
    margin-right: 64px;
    width: 50%;
    height: 300px;
    overflow: hidden;
}

.about_content{
    width: 50%;
}

.about_content p{
    padding-bottom: 48px;
    font-size: 16px;
    line-height: 26px;
}

.about_content a {
    margin-top: 39px;
    border-radius: 30px;
    padding: 12px 32px;
    background-color: #55c593;
    color: white;
}

.black {
    /* background-image: url(bg.jpeg); */
    color: white;
    margin-top: 64px;
    text-align: center;
    padding: 108px;
    background-color:#000000;
}

.black .title H1{
    margin-top: 0;
}

.black p {
    margin: auto;
    width: 58%;
    font-size: 16px;
    line-height: 26px;
}

.stats {
    padding: 0 14%;
    text-align: center;
    margin-top: 64px;
}

.Stats_box {
    display: flex;
    margin-right: 18px;
    border-radius: 12px;
    padding-top: 48px;
}

.box1 {
    margin-right: 24px;
    padding: 32px 100px;
    border: 1px solid #dedede;
}

.box1 img{
    width: 45%;
    height: auto;
}

.box1 h1 {
    padding: 12px 0;
    font-size: 56px;
}

.team {
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 64px;
    padding: 64px 14%;
    background-image: url(Blue-geometric-background.svg);
    background-color: #000000;
}

.team h1{
    margin-top: 0;
}

.main_team_box {
    text-align: center;
    display: flex;
}

.test_boxes {
    display: flex;
}


.team_boxes1{
    border-radius: 24PX;
    margin-right: 24PX;
    background-color: #ffffff;
    padding: 24px;
}

.team_boxes1 img {
    border-radius: 400px;
    width: 150px;
    height: auto;
}

.team_content h3{
    padding: 18px 0;
}

.team_content img {
    padding-top: 36px;
    width: 30px;
    height: 30px;
}

.test_boxes {
    padding: 0 14%;
    display: flex;
}

.test_boxes1 {
    border-radius: 24px;
    box-shadow: 0 0 10px #00000017;
    padding: 48px 24px;
    margin-right: 32px;
    background: white;
}

.image_box {
    display: flex;
    padding-top: 24px;
    margin-top: 56px;
    border-top: 1px solid #c2c2c2;
}

.image_box img {
    border: 1px solid;
    width: 80px;
    border-radius: 100%;
}

.image_content {
    padding-left: 24px;
}

.image_content p {
    padding-top: 12px;
    font-size: 14px;
}

.call_to_action {
    color: #fff;
    display: flex;
    margin: 64px 0;
    background-color: #25266c;
    padding: 64px 14%;
}

.call_to_action .image_left {
    padding-right: 56px;
    width: 30%;
}

.call_to_action_right{
    width: 70%;
}

.call_to_action .title h1 {
    margin-top: 0;
    text-align: left;
}

.Form{
    display: inline-block;
}

.Form_boxes {
    display: inline-block;
    width: 32%;
}

.Form_boxes input {
    border-radius: 12px;
    padding: 16px 26px;
}

.Form_boxes4 select {
    display: inline-block;
    width: 100%;
}

.Form_boxes4 input {
    border-radius: 12px;
    padding: 16px 26px;
}

.Form_boxes_submit {
    display: inline-block;
    width: 32%;
}

.Form_boxes_submit input {
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    margin-top: 32px;
    border-radius: 12px;
    padding: 16px 32px;
    background: #55c593;
}


.footer{
    display: flex;
    padding: 0 14%;
}

.footer img{
    width: 200px;
}

.main_footer {
    width: 50%;
    display: flex;
}

.main_footer a img {
    width: 8%;
}

.main_footer p {
    PADDING: 28PX 0;
}

.footer .for_logo{
    padding-right: 50px;
}

.for_data ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.for_data li{
    
}

.for_data{
    display: flex;
    width: 50%;
}